<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<body bgcolor="{{#if slide.bgcolor}}{{ slide.bgcolor }}{{else}}0d56c9{{/if}}" 
    link="#ffffff" alink="#ffffff" vlink="#ffffff">
    {{{ bodyContent }}}
</body>
</html>