<body bgcolor="{{#if slide.bgcolor}}{{ slide.bgcolor }}{{else}}0d56c9{{/if}}" 
    link="#ffffff" alink="#ffffff" vlink="#ffffff">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td height={{#if fragment}}1{{else}}600{{/if}} valign=top>
            <table width=100% height=100% cellpadding=0 cellspacing=0>
                {{{ slideContent }}}
            </table>
        </td>
    </tr>
</table>
</body>
