<tr valign="center">
    <td align="center" height="250" colspan="3">
        <h1>    
            <font size="36" color="ffffff">
                {{title}}
            </font>
        </h1>
    </td>
</tr>
