<tr valign="center">
    <td height="200" align="center" colspan="3">
        <img src="{{assetPath}}charlie-adg3.gif" width="100" height="94" alt="Charlie">
    </td>
</tr>
<tr valign="center">
    <td align="center" height="200" colspan="3">
        <h1>    
            <font face="Arial,sans-serif" size="36" color="ffffff">
                {{{title}}}
            </font>
        </h1>
    </td>
</tr>
<tr valign="bottom">
    <td align="center" height="200" colspan="3">
        <img src="{{assetPath}}avatar.gif" width="50" height="50" alt="Marcin Szczepanski">
        <p><font color="ffffff" size=5 face="Arial,sans-serif">{{{byLine}}}</font></p>
    </td>    
</tr>
<tr valign="bottom">
    <td height=100>&nbsp;</td>
</tr>