<table width=100% cellpadding=0 cellspacing=0 border=0>
<tr valign="top">
    <td width="50" height="100"><img src=/images/spacer.gif width=50 height=1></td>
    <td align="left" width=100%>
        <font color=#ffffff><h1>{{ toUpperCase title }}</h1></font>
        <img src=/images/00B8D9-px.gif width=100 height=5 alt=''>
    </td>    
    <td width="50" height="100"><img src=/images/spacer.gif width=50 height=1></td>
</tr>
<tr valign="center">
    <td width=50 height=500></td>
    <td align="left" width=100%>
        <font face="{{ theme.fontFace }}" color=#ffffff size=8>{{{ body }}}</font>
    </td>
</tr>
</table>