  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>TodoMVC</title>
    <style type="text/css">
        body {
            background-color: #ccc;
            font-family: Arial, sans-serif;
        }

        .newitem {
            border: none;
            background-color: #fff;
            font-family: Arial, sans-serif;
        }

        #todolist {
            background-color: #fff;
        }

        .todoitem {
            font-family: Arial, sans-serif;
        }

        .todocheck { 
            margin-left: 25px;
        }

        .todolabel {
            font-family: Arial, sans-serif;
            font-weight: normal;
            font-size: 24px;
        }

        {{!--.todocontent {
            font-family: Arial, sans-serif;
            font-size: 24px;
            clear: both;
            padding-left: 50px;
        }

        .todocontent input {
            float: left;
            padding-bottom: 20px;
            padding-right: 25px;
            margin-left: 25px;
        }--}}

        .todofooter {            
            width: 550px;
            font-family: Arial, sans-serif;
        }

        .todo-footer-content {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<h1>TODO List</h1>
<script language="JavaScript1.2">
var currentFilter = 'all';
var WIDTH = 550;

var todos = [
    {{#each todos}}    
    { id: {{id}}, label: '{{label}}', complete: {{complete}} },
    {{/each}}
];

function filter(newFilter) {
    currentFilter = newFilter;
    render();
    return false;
}

function clearCompleted() {
    var newTodos = [];
    for (var i = 0; i < todos.length; i++) {
        if (!todos[i].complete) {
            newTodos.push(todos[i]);
        }
    }
    todos = newTodos;
    render();
    return false;
}

function render(ctx) {
    if (!ctx) {
        ctx = document.layers.todolist.document;
    }

    ctx.write("<form><table width=554 class=todocontent cellpadding=0 cellspacing=0 border=0 bgcolor=#ffffff>");
    var numCompleted = 0;
    for (var i = 0; i < todos.length; i++) {
        var todo = todos[i];        
        if ( (currentFilter === 'completed' && !todo.complete) ||
            (currentFilter === 'active' && todo.complete) ) {
            continue;
        }

        if (todo.complete) {
            numCompleted++;
        }

        var content =
            "<tr><td colspan=5 valign=center height=50>" +
                "<table class=todoitem cellpadding=0 cellspacing=0 border=0><tr>" +
                    "<td width=20>&nbsp;</td>" +
                    "<td width=25 height=50 valign=center class=todocheck><input type=checkbox name='todo-" + todo.id + "' " + (todo.complete ? 'checked' : '') +" onclick=check(" + todo.id + ")></td>" +
                    "<td valign=center class=todolabel>" + todo.label + "</td>" +
                "</tr></table>" +
            "</td></tr>" + 
            "<tr><td height=1 bgcolor=cccccc></td></tr>";
        ctx.write(content);
    }

    var footer = "<tr>" + 
        "<td width=20>&nbsp;</td>" +
        "<td width=33% height=50 align=left class=todo-footer-content>" + todos.length + " items</td>" +
        "<td width=33% align=center class=todo-footer-content>" +
            "<a href='#' onclick=filter('all')>All</a>" +
            " | <a href='#' onclick=filter('active')>Active</a>" + 
            " | <a href='#' onclick=filter('completed')>Completed</a>" +
        "</td>" + 
        "<td width=33% align=right class=todo-footer-content>";

        if (numCompleted > 0) {
            footer += "<a href='#' onclick=clearCompleted()>Clear completed</a>"
        } else {
            footer += '&nbsp;';
        }

        footer += "</td>" +
        "<td width=20>&nbsp;</td>" +
        "</tr>";
    ctx.write(footer);
    ctx.write("</table></form>");
    ctx.close();
}

function check(id) {
    for (var i = 0; i < todos.length; i++) {
        var todo = todos[i];
        if (todo.id === id) {
            todo.complete = !todo.complete;
            break;  
        }
    }
    render();
}

function onSubmit() {
    var newText = document.forms[0].todolabel.value;
    todos.push({
        id: todos.length,
        label: newText,
        complete: false
    });
    render();
    document.forms[0].todolabel.value = '';
    return false;
}

</script>
<form method="GET" action="/todo/v2"> 
<input type="hidden" name="version" value="2">
<table width=550 cellpadding=4 cellspacing=0 border=0>
    <tr>
        <td class="newitem">
            What needs to be done?<br>
            <input type="text" name="todolabel">
            <input type="button" value=Add name=Add onClick="onSubmit()">
        </td>
    </tr>
</table>
</form>
<layer id="todolist" top=116 left=6>
    <script language="JavaScript1.2">
        render(document);
    </script>
</layer>
</body>
</html>